openapi: 3.2.0
info:
  title: stax-api Transaction API
  version: '0.1'
servers:
- url: https://apiprod.fattlabs.com/
security:
- ApiKeyAuth: []
tags:
- name: Transaction
paths:
  /transaction/{transactionid}/capture:
    post:
      summary: Capture a Pre-Auth Transaction
      description: Captures funds from a pre-authorized transaction. This converts a pre-authorization into a completed charge.
      operationId: capture-a-pre-auth-transaction
      parameters:
      - name: transactionid
        in: path
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                total:
                  type: string
                  description: Amount that you would like to capture
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": \"d4db6c3b-4a96-48b6-a08b-551326fada40\",\n  \"invoice_id\": \"\",\n  \"reference_id\": \"\",\n  \"recurring_transaction_id\": \"\",\n  \"auth_id\": null,\n  \"type\": \"pre_auth\",\n  \"source\": null,\n  \"is_merchant_present\": true,\n  \"merchant_id\": \"e7bcf7a6-ea72-4981-894d-73b41a690fa8\",\n  \"user_id\": \"2d089742-6aca-462d-8db3-c2966e1f9e68\",\n  \"customer_id\": \"3a50862a-c2d5-47ae-8f49-d42afff8ee77\",\n  \"payment_method_id\": \"f096d9b4-c890-45af-9b47-3de0aa10e5d2\",\n  \"is_manual\": null,\n  \"success\": true,\n  \"message\": null,\n  \"meta\": {\n    \"tax\": 2,\n    \"subtotal\": 10\n  },\n  \"total\": 1,\n  \"method\": \"card\",\n  \"pre_auth\": true,\n  \"is_captured\": 1,\n  \"last_four\": \"1111\",\n  \"interchange_code\": \"\",\n  \"interchange_fee\": null,\n  \"batch_id\": \"\",\n  \"batched_at\": \"2018-03-20 13:27:19\",\n  \"emv_response\": \"\",\n  \"avs_response\": \"\",\n  \"cvv_response\": \"\",\n  \"pos_entry\": \"\",\n  \"pos_salesperson\": \"\",\n  \"receipt_email_at\": null,\n  \"receipt_sms_at\": null,\n  \"created_at\": \"2018-03-05 13:27:05\",\n  \"updated_at\": \"2018-03-05 13:27:19\",\n  \"total_refunded\": 0,\n  \"is_refundable\": false,\n  \"is_voided\": false,\n  \"is_voidable\": false,\n  \"schedule_id\": null,\n  \"child_captures\": [\n    {\n      \"id\": \"936e3b88-6df1-4048-9d39-00469748008f\",\n      \"invoice_id\": \"\",\n      \"reference_id\": \"\",\n      \"recurring_transaction_id\": \"\",\n      \"auth_id\": \"d4db6c3b-4a96-48b6-a08b-551326fada40\",\n      \"type\": \"capture\",\n      \"source\": null,\n      \"is_merchant_present\": true,\n      \"merchant_id\": \"e7bcf7a6-ea72-4981-894d-73b41a690fa8\",\n      \"user_id\": \"2d089742-6aca-462d-8db3-c2966e1f9e68\",\n      \"customer_id\": \"3a50862a-c2d5-47ae-8f49-d42afff8ee77\",\n      \"payment_method_id\": \"f096d9b4-c890-45af-9b47-3de0aa10e5d2\",\n      \"is_manual\": null,\n      \"success\": true,\n      \"message\": null,\n      \"meta\": {\n        \"tax\": 2,\n        \"subtotal\": 10\n      },\n      \"total\": 5,\n      \"method\": \"card\",\n      \"pre_auth\": false,\n      \"is_captured\": 0,\n      \"last_four\": \"1111\",\n      \"interchange_code\": \"\",\n      \"interchange_fee\": null,\n      \"batch_id\": \"\",\n      \"batched_at\": \"2018-03-20 13:27:18\",\n      \"emv_response\": \"\",\n      \"avs_response\": \"\",\n      \"cvv_response\": \"\",\n      \"pos_entry\": \"\",\n      \"pos_salesperson\": \"\",\n      \"receipt_email_at\": null,\n      \"receipt_sms_at\": null,\n      \"created_at\": \"2018-03-05 13:27:18\",\n      \"updated_at\": \"2018-03-05 13:27:18\",\n      \"total_refunded\": 0,\n      \"is_refundable\": false,\n      \"is_voided\": false,\n      \"is_voidable\": true,\n      \"currency\": \"USD\",\n      \"schedule_id\": null,\n      \"child_captures\": [],\n      \"parent_auth\": null,\n      \"customer\": {\n        \"id\": \"3a50862a-c2d5-47ae-8f49-d42afff8ee77\",\n        \"firstname\": \"John\",\n        \"lastname\": \"Smith\",\n        \"company\": \"ABC INC\",\n        \"email\": \"contact@example.com\",\n        \"cc_emails\": [\n          \"demo@abc.com\"\n        ],\n        \"cc_sms\": null,\n        \"phone\": \"1234567898\",\n        \"address_1\": \"123 Rite Way\",\n        \"address_2\": \"Unit 12\",\n        \"address_city\": \"Orlando\",\n        \"address_state\": \"FL\",\n        \"address_zip\": \"32801\",\n        \"address_country\": \"USA\",\n        \"notes\": null,\n        \"reference\": \"BARTLE\",\n        \"options\": \"\",\n        \"created_at\": \"2018-03-02 16:20:06\",\n        \"updated_at\": \"2018-03-02 16:20:06\",\n        \"deleted_at\": null,\n        \"gravatar\": \"//www.gravatar.com/avatar/45357c125af15b6df8864a71a653bea2\"\n      },\n      \"child_transactions\": [],\n      \"files\": [],\n      \"payment_method\": {\n        \"id\": \"f096d9b4-c890-45af-9b47-3de0aa10e5d2\",\n        \"customer_id\": \"3a50862a-c2d5-47ae-8f49-d42afff8ee77\",\n        \"merchant_id\": \"e7bcf7a6-ea72-4981-894d-73b41a690fa8\",\n        \"user_id\": \"2d089742-6aca-462d-8db3-c2966e1f9e68\",\n        \"nickname\": \"VISA: Steven Smith Jr. (ending in: 1111)\",\n        \"has_cvv\": 1,\n        \"is_default\": 1,\n        \"method\": \"card\",\n        \"person_name\": \"Steven Smith Jr.\",\n        \"card_type\": \"visa\",\n        \"card_last_four\": \"1111\",\n        \"card_exp\": \"042019\",\n        \"bank_name\": null,\n        \"bank_type\": null,\n        \"bank_holder_type\": null,\n        \"address_1\": null,\n        \"address_2\": null,\n        \"address_city\": null,\n        \"address_state\": null,\n        \"address_zip\": \"32944\",\n        \"address_country\": \"USA\",\n        \"purged_at\": null,\n        \"deleted_at\": null,\n        \"created_at\": \"2018-03-03 16:21:09\",\n        \"updated_at\": \"2018-03-03 16:21:09\",\n        \"card_exp_datetime\": \"2019-04-30 23:59:59\",\n        \"customer\": {\n          \"id\": \"3a50862a-c2d5-47ae-8f49-d42afff8ee77\",\n          \"firstname\": \"John\",\n          \"lastname\": \"Smith\",\n          \"company\": \"ABC INC\",\n          \"email\": \"contact@example.com\",\n          \"cc_emails\": [\n            \"demo@abc.com\"\n          ],\n          \"cc_sms\": null,\n          \"phone\": \"1234567898\",\n          \"address_1\": \"123 Rite Way\",\n          \"address_2\": \"Unit 12\",\n          \"address_city\": \"Orlando\",\n          \"address_state\": \"FL\",\n          \"address_zip\": \"32801\",\n          \"address_country\": \"USA\",\n          \"notes\": null,\n          \"reference\": \"BARTLE\",\n          \"options\": \"\",\n          \"created_at\": \"2018-03-03 16:20:06\",\n          \"updated_at\": \"2018-03-03 16:20:06\",\n          \"deleted_at\": null,\n          \"gravatar\": \"//www.gravatar.com/avatar/45357c125af15b6df8864a71a653bea2\"\n        }\n      },\n      \"user\": {\n        \"id\": \"2d089742-6aca-462d-8db3-c2966e1f9e68\",\n        \"system_admin\": true,\n        \"name\": \"Morty Junior\",\n        \"email\": \"contact@example.com\",\n        \"email_verification_sent_at\": \"2016-05-11 17:13:33\",\n        \"email_verified_at\": \"2016-05-11 17:13:33\",\n        \"is_api_key\": false,\n        \"acknowledgments\": {\n          \"tutorial\": true,\n          \"signedApplication\": true,\n          \"godviewWelcome\": true\n        },\n        \"created_at\": \"2016-05-18 14:11:46\",\n        \"updated_at\": \"2018-03-05 20:26:20\",\n        \"deleted_at\": null,\n        \"gravatar\": \"//www.gravatar.com/avatar/772cbf95746d7da86789cc3634c46ba8\",\n        \"team_admin\": null,\n        \"team_enabled\": null,\n        \"team_role\": null,\n        \"merchant_options\": [],\n        \"is_portal\": false\n      }\n    }\n  ],\n  \"parent_auth\": null,\n  \"customer\": {\n    \"id\": \"3a50862a-c2d5-47ae-8f49-d42afff8ee77\",\n    \"firstname\": \"John\",\n    \"lastname\": \"Smith\",\n    \"company\": \"ABC INC\",\n    \"email\": \"contact@example.com\",\n    \"cc_emails\": [\n      \"demo@abc.com\"\n    ],\n    \"cc_sms\": null,\n    \"phone\": \"1234567898\",\n    \"address_1\": \"123 Rite Way\",\n    \"address_2\": \"Unit 12\",\n    \"address_city\": \"Orlando\",\n    \"address_state\": \"FL\",\n    \"address_zip\": \"32801\",\n    \"address_country\": \"USA\",\n    \"notes\": null,\n    \"reference\": \"BARTLE\",\n    \"options\": \"\",\n    \"created_at\": \"2018-03-03 16:20:06\",\n    \"updated_at\": \"2018-03-03 16:20:06\",\n    \"deleted_at\": null,\n    \"gravatar\": \"//www.gravatar.com/avatar/45357c125af15b6df8864a71a653bea2\"\n  },\n  \"child_transactions\": [],\n  \"files\": [],\n  \"payment_method\": {\n    \"id\": \"f096d9b4-c890-45af-9b47-3de0aa10e5d2\",\n    \"customer_id\": \"3a50862a-c2d5-47ae-8f49-d42afff8ee77\",\n    \"merchant_id\": \"e7bcf7a6-ea72-4981-894d-73b41a690fa8\",\n    \"user_id\": \"2d089742-6aca-462d-8db3-c2966e1f9e68\",\n    \"nickname\": \"VISA: Steven Smith Jr. (ending in: 1111)\",\n    \"has_cvv\": 1,\n    \"is_default\": 1,\n    \"method\": \"card\",\n    \"person_name\": \"Steven Smith Jr.\",\n    \"card_type\": \"visa\",\n    \"card_last_four\": \"1111\",\n    \"card_exp\": \"042019\",\n    \"bank_name\": null,\n    \"bank_type\": null,\n    \"bank_holder_type\": null,\n    \"address_1\": null,\n    \"address_2\": null,\n    \"address_city\": null,\n    \"address_state\": null,\n    \"address_zip\": \"32944\",\n    \"address_country\": \"USA\",\n    \"purged_at\": null,\n    \"deleted_at\": null,\n    \"created_at\": \"2018-03-03 16:21:09\",\n    \"updated_at\": \"2018-03-03 16:21:09\",\n    \"card_exp_datetime\": \"2019-04-30 23:59:59\",\n    \"customer\": {\n      \"id\": \"3a50862a-c2d5-47ae-8f49-d42afff8ee77\",\n      \"firstname\": \"John\",\n      \"lastname\": \"Smith\",\n      \"company\": \"ABC INC\",\n      \"email\": \"contact@example.com\",\n      \"cc_emails\": [\n        \"demo@abc.com\"\n      ],\n      \"cc_sms\": null,\n      \"phone\": \"1234567898\",\n      \"address_1\": \"123 Rite Way\",\n      \"address_2\": \"Unit 12\",\n      \"address_city\": \"Orlando\",\n      \"address_state\": \"FL\",\n      \"address_zip\": \"32801\",\n      \"address_country\": \"USA\",\n      \"notes\": null,\n      \"reference\": \"BARTLE\",\n      \"options\": \"\",\n      \"created_at\": \"2018-03-03 16:20:06\",\n      \"updated_at\": \"2018-03-03 16:20:06\",\n      \"deleted_at\": null,\n      \"gravatar\": \"//www.gravatar.com/avatar/45357c125af15b6df8864a71a653bea2\"\n    }\n  },\n  \"user\": {\n    \"id\": \"2d089742-6aca-462d-8db3-c2966e1f9e68\",\n    \"system_admin\": true,\n    \"name\": \"Morty Junior\",\n    \"email\": \"contact@example.com\",\n    \"email_verification_sent_at\": \"2016-05-11 17:13:33\",\n    \"email_verified_at\": \"2016-05-11 17:13:33\",\n    \"is_api_key\": false,\n    \"acknowledgments\": {\n      \"tutorial\": true,\n      \"signedApplication\": true,\n      \"godviewWelcome\": true\n    },\n    \"created_at\": \"2016-05-18 14:11:46\",\n    \"updated_at\": \"2018-03-05 20:26:20\",\n    \"deleted_at\": null,\n    \"gravatar\": \"//www.gravatar.com/avatar/772cbf95746d7da86789cc3634c46ba8\",\n    \"team_admin\": null,\n    \"team_enabled\": null,\n    \"team_role\": null,\n    \"merchant_options\": [],\n    \"is_portal\": false\n  }\n}"
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: d4db6c3b-4a96-48b6-a08b-551326fada40
                  invoice_id:
                    type: string
                    example: ''
                  reference_id:
                    type: string
                    example: ''
                  recurring_transaction_id:
                    type: string
                    example: ''
                  auth_id: {}
                  type:
                    type: string
                    example: pre_auth
                  source: {}
                  is_merchant_present:
                    type: boolean
                    example: true
                    default: true
                  merchant_id:
                    type: string
                    example: e7bcf7a6-ea72-4981-894d-73b41a690fa8
                  user_id:
                    type: string
                    example: 2d089742-6aca-462d-8db3-c2966e1f9e68
                  customer_id:
                    type: string
                    example: 3a50862a-c2d5-47ae-8f49-d42afff8ee77
                  payment_method_id:
                    type: string
                    example: f096d9b4-c890-45af-9b47-3de0aa10e5d2
                  is_manual: {}
                  success:
                    type: boolean
                    example: true
                    default: true
                  message: {}
                  meta:
                    type: object
                    properties:
                      tax:
                        type: integer
                        example: 2
                        default: 0
                      subtotal:
                        type: integer
                        example: 10
                        default: 0
                  total:
                    type: integer
                    example: 1
                    default: 0
                  method:
                    type: string
                    example: card
                  pre_auth:
                    type: boolean
                    example: true
                    default: true
                  is_captured:
                    type: integer
                    example: 1
                    default: 0
                  last_four:
                    type: string
                    example: '1111'
                  interchange_code:
                    type: string
                    example: ''
                  interchange_fee: {}
                  batch_id:
                    type: string
                    example: ''
                  batched_at:
                    type: string
                    example: '2018-03-20 13:27:19'
                  emv_response:
                    type: string
                    example: ''
                  avs_response:
                    type: string
                    example: ''
                  cvv_response:
                    type: string
                    example: ''
                  pos_entry:
                    type: string
                    example: ''
                  pos_salesperson:
                    type: string
                    example: ''
                  receipt_email_at: {}
                  receipt_sms_at: {}
                  created_at:
                    type: string
                    example: '2018-03-05 13:27:05'
                  updated_at:
                    type: string
                    example: '2018-03-05 13:27:19'
                  total_refunded:
                    type: integer
                    example: 0
                    default: 0
                  is_refundable:
                    type: boolean
                    example: false
                    default: true
                  is_voided:
                    type: boolean
                    example: false
                    default: true
                  is_voidable:
                    type: boolean
                    example: false
                    default: true
                  schedule_id: {}
                  child_captures:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 936e3b88-6df1-4048-9d39-00469748008f
                        invoice_id:
                          type: string
                          example: ''
                        reference_id:
                          type: string
                          example: ''
                        recurring_transaction_id:
                          type: string
                          example: ''
                        auth_id:
                          type: string
                          example: d4db6c3b-4a96-48b6-a08b-551326fada40
                        type:
                          type: string
                          example: capture
                        source: {}
                        is_merchant_present:
                          type: boolean
                          example: true
                          default: true
                        merchant_id:
                          type: string
                          example: e7bcf7a6-ea72-4981-894d-73b41a690fa8
                        user_id:
                          type: string
                          example: 2d089742-6aca-462d-8db3-c2966e1f9e68
                        customer_id:
                          type: string
                          example: 3a50862a-c2d5-47ae-8f49-d42afff8ee77
                        payment_method_id:
                          type: string
                          example: f096d9b4-c890-45af-9b47-3de0aa10e5d2
                        is_manual: {}
                        success:
                          type: boolean
                          example: true
                          default: true
                        message: {}
                        meta:
                          type: object
                          properties:
                            tax:
                              type: integer
                              example: 2
                              default: 0
                            subtotal:
                              type: integer
                              example: 10
                              default: 0
                        total:
                          type: integer
                          example: 5
                          default: 0
                        method:
                          type: string
                          example: card
                        pre_auth:
                          type: boolean
                          example: false
                          default: true
                        is_captured:
                          type: integer
                          example: 0
                          default: 0
                        last_four:
                          type: string
                          example: '1111'
                        interchange_code:
                          type: string
                          example: ''
                        interchange_fee: {}
                        batch_id:
                          type: string
                          example: ''
                        batched_at:
                          type: string
                          example: '2018-03-20 13:27:18'
                        emv_response:
                          type: string
                          example: ''
                        avs_response:
                          type: string
                          example: ''
                        cvv_response:
                          type: string
                          example: ''
                        pos_entry:
                          type: string
                          example: ''
                        pos_salesperson:
                          type: string
                          example: ''
                        receipt_email_at: {}
                        receipt_sms_at: {}
                        created_at:
                          type: string
                          example: '2018-03-05 13:27:18'
                        updated_at:
                          type: string
                          example: '2018-03-05 13:27:18'
                        total_refunded:
                          type: integer
                          example: 0
                          default: 0
                        is_refundable:
                          type: boolean
                          example: false
                          default: true
                        is_voided:
                          type: boolean
                          example: false
                          default: true
                        is_voidable:
                          type: boolean
                          example: true
                          default: true
                        currency:
                          type: string
                          example: USD
                        schedule_id: {}
                        child_captures:
                          type: array
                        parent_auth: {}
                        customer:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 3a50862a-c2d5-47ae-8f49-d42afff8ee77
                            firstname:
                              type: string
                              example: John
                            lastname:
                              type: string
                              example: Smith
                            company:
                              type: string
                              example: ABC INC
                            email:
                              type: string
                              example: contact@example.com
                            cc_emails:
                              type: array
                              items:
                                type: string
                                example: demo@abc.com
                            cc_sms: {}
                            phone:
                              type: string
                              example: '1234567898'
                            address_1:
                              type: string
                              example: 123 Rite Way
                            address_2:
                              type: string
                              example: Unit 12
                            address_city:
                              type: string
                              example: Orlando
                            address_state:
                              type: string
                              example: FL
                            address_zip:
                              type: string
                              example: '32801'
                            address_country:
                              type: string
                              example: USA
                            notes: {}
                            reference:
                              type: string
                              example: BARTLE
                            options:
                              type: string
                              example: ''
                            created_at:
                              type: string
                              example: '2018-03-02 16:20:06'
                            updated_at:
                              type: string
                              example: '2018-03-02 16:20:06'
                            deleted_at: {}
                            gravatar:
                              type: string
                              example: //www.gravatar.com/avatar/45357c125af15b6df8864a71a653bea2
                        child_transactions:
                          type: array
                        files:
                          type: array
                        payment_method:
                          type: object
                          properties:
                            id:
                              type: string
                              example: f096d9b4-c890-45af-9b47-3de0aa10e5d2
                            customer_id:
                              type: string
                              example: 3a50862a-c2d5-47ae-8f49-d42afff8ee77
                            merchant_id:
                              type: string
                              example: e7bcf7a6-ea72-4981-894d-73b41a690fa8
                            user_id:
                              type: string
                              example: 2d089742-6aca-462d-8db3-c2966e1f9e68
                            nickname:
                              type: string
                              example: 'VISA: Steven Smith Jr. (ending in: 1111)'
                            has_cvv:
                              type: integer
                              example: 1
                              default: 0
                            is_default:
                              type: integer
                              example: 1
                              default: 0
                            method:
                              type: string
                              example: card
                            person_name:
                              type: string
                              example: Steven Smith Jr.
                            card_type:
                              type: string
                              example: visa
                            card_last_four:
                              type: string
                              example: '1111'
                            card_exp:
                              type: string
                              example: 042019
                            bank_name: {}
                            bank_type: {}
                            bank_holder_type: {}
                            address_1: {}
                            address_2: {}
                            address_city: {}
                            address_state: {}
                            address_zip:
                              type: string
                              example: '32944'
                            address_country:
                              type: string
                              example: USA
                            purged_at: {}
                            deleted_at: {}
                            created_at:
                              type: string
                              example: '2018-03-03 16:21:09'
                            updated_at:
                              type: string
                              example: '2018-03-03 16:21:09'
                            card_exp_datetime:
                              type: string
                              example: '2019-04-30 23:59:59'
                            customer:
                              type: object
                              properties:
                                id:
                                  type: string
                                  example: 3a50862a-c2d5-47ae-8f49-d42afff8ee77
                                firstname:
                                  type: string
                                  example: John
                                lastname:
                                  type: string
                                  example: Smith
                                company:
                                  type: string
                                  example: ABC INC
                                email:
                                  type: string
                                  example: contact@example.com
                                cc_emails:
                                  type: array
                                  items:
                                    type: string
                                    example: demo@abc.com
                                cc_sms: {}
                                phone:
                                  type: string
                                  example: '1234567898'
                                address_1:
                                  type: string
                                  example: 123 Rite Way
                                address_2:
                                  type: string
                                  example: Unit 12
                                address_city:
                                  type: string
                                  example: Orlando
                                address_state:
                                  type: string
                                  example: FL
                                address_zip:
                                  type: string
                                  example: '32801'
                                address_country:
                                  type: string
                                  example: USA
                                notes: {}
                                reference:
                                  type: string
                                  example: BARTLE
                                options:
                                  type: string
                                  example: ''
                                created_at:
                                  type: string
                                  example: '2018-03-03 16:20:06'
                                updated_at:
                                  type: string
                                  example: '2018-03-03 16:20:06'
                                deleted_at: {}
                                gravatar:
                                  type: string
                                  example: //www.gravatar.com/avatar/45357c125af15b6df8864a71a653bea2
                        user:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 2d089742-6aca-462d-8db3-c2966e1f9e68
                            system_admin:
                              type: boolean
                              example: true
                              default: true
                            name:
                              type: string
                              example: Morty Junior
                            email:
                              type: string
                              example: contact@example.com
                            email_verification_sent_at:
                              type: string
                              example: '2016-05-11 17:13:33'
                            email_verified_at:
                              type: string
                              example: '2016-05-11 17:13:33'
                            is_api_key:
                              type: boolean
                              example: false
                              default: true
                            acknowledgments:
                              type: object
                              properties:
                                tutorial:
                                  type: boolean
                                  example: true
                                  default: true
                                signedApplication:
                                  type: boolean
                                  example: true
                                  default: true
                                godviewWelcome:
                                  type: boolean
                                  example: true
                                  default: true
                            created_at:
                              type: string
                              example: '2016-05-18 14:11:46'
                            updated_at:
                              type: string
                              example: '2018-03-05 20:26:20'
                            deleted_at: {}
                            gravatar:
                              type: string
                              example: //www.gravatar.com/avatar/772cbf95746d7da86789cc3634c46ba8
                            team_admin: {}
                            team_enabled: {}
                            team_role: {}
                            merchant_options:
                              type: array
                            is_portal:
                              type: boolean
                              example: false
                              default: true
                  parent_auth: {}
                  customer:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 3a50862a-c2d5-47ae-8f49-d42afff8ee77
                      firstname:
                        type: string
                        example: John
                      lastname:
                        type: string
                        example: Smith
                      company:
                        type: string
                        example: ABC INC
                      email:
                        type: string
                        example: contact@example.com
                      cc_emails:
                        type: array
                        items:
                          type: string
                          example: demo@abc.com
                      cc_sms: {}
                      phone:
                        type: string
                        example: '1234567898'
                      address_1:
                        type: string
                        example: 123 Rite Way
                      address_2:
                        type: string
                        example: Unit 12
                      address_city:
                        type: string
                        example: Orlando
                      address_state:
                        type: string
                        example: FL
                      address_zip:
                        type: string
                        example: '32801'
                      address_country:
                        type: string
                        example: USA
                      notes: {}
                      reference:
                        type: string
                        example: BARTLE
                      options:
                        type: string
                        example: ''
                      created_at:
                        type: string
                        example: '2018-03-03 16:20:06'
                      updated_at:
                        type: string
                        example: '2018-03-03 16:20:06'
                      deleted_at: {}
                      gravatar:
                        type: string
                        example: //www.gravatar.com/avatar/45357c125af15b6df8864a71a653bea2
                  child_transactions:
                    type: array
                  files:
                    type: array
                  payment_method:
                    type: object
                    properties:
                      id:
                        type: string
                        example: f096d9b4-c890-45af-9b47-3de0aa10e5d2
                      customer_id:
                        type: string
                        example: 3a50862a-c2d5-47ae-8f49-d42afff8ee77
                      merchant_id:
                        type: string
                        example: e7bcf7a6-ea72-4981-894d-73b41a690fa8
                      user_id:
                        type: string
                        example: 2d089742-6aca-462d-8db3-c2966e1f9e68
                      nickname:
                        type: string
                        example: 'VISA: Steven Smith Jr. (ending in: 1111)'
                      has_cvv:
                        type: integer
                        example: 1
                        default: 0
                      is_default:
                        type: integer
                        example: 1
                        default: 0
                      method:
                        type: string
                        example: card
                      person_name:
                        type: string
                        example: Steven Smith Jr.
                      card_type:
                        type: string
                        example: visa
                      card_last_four:
                        type: string
                        example: '1111'
                      card_exp:
                        type: string
                        example: 042019
                      bank_name: {}
                      bank_type: {}
                      bank_holder_type: {}
                      address_1: {}
                      address_2: {}
                      address_city: {}
                      address_state: {}
                      address_zip:
                        type: string
                        example: '32944'
                      address_country:
                        type: string
                        example: USA
                      purged_at: {}
                      deleted_at: {}
                      created_at:
                        type: string
                        example: '2018-03-03 16:21:09'
                      updated_at:
                        type: string
                        example: '2018-03-03 16:21:09'
                      card_exp_datetime:
                        type: string
                        example: '2019-04-30 23:59:59'
                      customer:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 3a50862a-c2d5-47ae-8f49-d42afff8ee77
                          firstname:
                            type: string
                            example: John
                          lastname:
                            type: string
                            example: Smith
                          company:
                            type: string
                            example: ABC INC
                          email:
                            type: string
                            example: contact@example.com
                          cc_emails:
                            type: array
                            items:
                              type: string
                              example: demo@abc.com
                          cc_sms: {}
                          phone:
                            type: string
                            example: '1234567898'
                          address_1:
                            type: string
                            example: 123 Rite Way
                          address_2:
                            type: string
                            example: Unit 12
                          address_city:
                            type: string
                            example: Orlando
                          address_state:
                            type: string
                            example: FL
                          address_zip:
                            type: string
                            example: '32801'
                          address_country:
                            type: string
                            example: USA
                          notes: {}
                          reference:
                            type: string
                            example: BARTLE
                          options:
                            type: string
                            example: ''
                          created_at:
                            type: string
                            example: '2018-03-03 16:20:06'
                          updated_at:
                            type: string
                            example: '2018-03-03 16:20:06'
                          deleted_at: {}
                          gravatar:
                            type: string
                            example: //www.gravatar.com/avatar/45357c125af15b6df8864a71a653bea2
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 2d089742-6aca-462d-8db3-c2966e1f9e68
                      system_admin:
                        type: boolean
                        example: true
                        default: true
                      name:
                        type: string
                        example: Morty Junior
                      email:
                        type: string
                        example: contact@example.com
                      email_verification_sent_at:
                        type: string
                        example: '2016-05-11 17:13:33'
                      email_verified_at:
                        type: string
                        example: '2016-05-11 17:13:33'
                      is_api_key:
                        type: boolean
                        example: false
                        default: true
                      acknowledgments:
                        type: object
                        properties:
                          tutorial:
                            type: boolean
                            example: true
                            default: true
                          signedApplication:
                            type: boolean
                            example: true
                            default: true
                          godviewWelcome:
                            type: boolean
                            example: true
                            default: true
                      created_at:
                        type: string
                        example: '2016-05-18 14:11:46'
                      updated_at:
                        type: string
                        example: '2018-03-05 20:26:20'
                      deleted_at: {}
                      gravatar:
                        type: string
                        example: //www.gravatar.com/avatar/772cbf95746d7da86789cc3634c46ba8
                      team_admin: {}
                      team_enabled: {}
                      team_role: {}
                      merchant_options:
                        type: array
                      is_portal:
                        type: boolean
                        example: false
                        default: true
        '422':
          description: '422'
          content:
            application/json:
              examples:
                Invalid Id:
                  value: "{\n  \"id\": [\n    \"The selected id is invalid.\"\n  ]\n}"
              schema:
                type: object
                properties:
                  id:
                    type: array
                    items:
                      type: string
                      example: The selected id is invalid.
      deprecated: false
      tags:
      - Transaction
  /transaction/{id}/receipt/email:
    put:
      summary: E-Mail Transaction Receipt
      description: Send an email receipt for a specific transaction to the associated customer's email address on file.
      operationId: e-mail-transaction-receipt
      parameters:
      - name: id
        in: path
        description: The id of the transaction that should be sent
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ccEmails:
                  type: array
                  description: List of CC email addresses
                  items:
                    type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": \"184ef996-de5e-41a8-b139-4ba595426053\",\n  \"invoice_id\": \"2230adc8-a755-4a26-95b5-a54a4b8aa0ad\",\n  \"reference_id\": \"\",\n  \"recurring_transaction_id\": \"\",\n  \"auth_id\": null,\n  \"type\": \"charge\",\n  \"source\": null,\n  \"is_merchant_present\": true,\n  \"merchant_id\": \"a61d78cc-cde9-44ac-8a18-30c39be05879\",\n  \"user_id\": \"2d089742-6aca-462d-8db3-c2966e1f9e68\",\n  \"customer_id\": \"0f553deb-5dbd-4dca-9bef-743c4bc2809f\",\n  \"payment_method_id\": \"giftcard\",\n  \"is_manual\": true,\n  \"success\": true,\n  \"message\": null,\n  \"meta\": {\n    \"update_inventory\": true,\n    \"taxOverride\": false,\n    \"isBulkInvoice\": false,\n    \"taxRate\": 0,\n    \"tax\": 0,\n    \"subtotal\": 55,\n    \"memo\": \"\",\n    \"lineItems\": [\n      {\n        \"id\": \"generated-id-0630-32fe-649d-cf6c-e38b\",\n        \"item\": \"\",\n        \"details\": \"\",\n        \"quantity\": 1,\n        \"price\": \"55\"\n      }\n    ],\n    \"reference\": 1872,\n    \"check_number\": null,\n    \"driver_license\": null,\n    \"driver_license_state\": null,\n    \"payment_phone\": null,\n    \"payment_note\": null\n  },\n  \"total\": 55,\n  \"method\": \"giftcard\",\n  \"pre_auth\": false,\n  \"is_captured\": 1,\n  \"last_four\": null,\n  \"interchange_code\": \"\",\n  \"interchange_fee\": null,\n  \"batch_id\": \"\",\n  \"batched_at\": \"2018-10-02 12:30:44\",\n  \"emv_response\": \"\",\n  \"avs_response\": \"\",\n  \"cvv_response\": \"\",\n  \"pos_entry\": \"\",\n  \"pos_salesperson\": \"\",\n  \"receipt_email_at\": \"2018-10-02 16:30:44\",\n  \"receipt_sms_at\": \"2018-10-02 14:53:09\",\n  \"created_at\": \"2018-07-23 18:21:42\",\n  \"updated_at\": \"2018-10-02 16:30:44\",\n  \"total_refunded\": 0,\n  \"is_refundable\": true,\n  \"is_voided\": false,\n  \"is_voidable\": true,\n  \"currency\": \"USD\",\n  \"schedule_id\": null,\n  \"child_captures\": [],\n  \"parent_auth\": null,\n  \"customer\": {\n    \"id\": \"0f553deb-5dbd-4dca-9bef-743c4bc2809f\",\n    \"firstname\": \"Elizabeth\",\n    \"lastname\": \"Jones\",\n    \"company\": \"Liz's Lemonade\",\n    \"email\": \"contact@example.com\",\n    \"cc_emails\": null,\n    \"cc_sms\": null,\n    \"phone\": \"\",\n    \"address_1\": \"\",\n    \"address_2\": \"\",\n    \"address_city\": \"\",\n    \"address_state\": \"\",\n    \"address_zip\": \"\",\n    \"address_country\": \"\",\n    \"notes\": \"\",\n    \"reference\": \"\",\n    \"options\": null,\n    \"created_at\": \"2016-10-09 11:04:35\",\n    \"updated_at\": \"2018-08-14 13:09:21\",\n    \"deleted_at\": null,\n    \"allow_invoice_credit_card_payments\": true,\n    \"gravatar\": \"//www.gravatar.com/avatar/45357c125af15b6df8864a71a653bea2\"\n  },\n  \"child_transactions\": [],\n  \"files\": [],\n  \"payment_method\": {\n    \"id\": \"giftcard\",\n    \"customer_id\": \"\",\n    \"merchant_id\": \"\",\n    \"user_id\": \"\",\n    \"nickname\": \"GIFT CARD\",\n    \"has_cvv\": 0,\n    \"is_default\": 0,\n    \"method\": \"giftcard\",\n    \"person_name\": null,\n    \"card_type\": null,\n    \"card_last_four\": null,\n    \"card_exp\": null,\n    \"bank_name\": null,\n    \"bank_type\": null,\n    \"bank_holder_type\": null,\n    \"address_1\": null,\n    \"address_2\": null,\n    \"address_city\": null,\n    \"address_state\": null,\n    \"address_zip\": null,\n    \"address_country\": null,\n    \"purged_at\": null,\n    \"deleted_at\": null,\n    \"created_at\": \"2018-06-05 16:45:43\",\n    \"updated_at\": \"2018-06-05 16:45:43\",\n    \"card_exp_datetime\": [],\n    \"is_usable_in_vt\": false,\n    \"customer\": {\n      \"id\": \"\",\n      \"firstname\": \"\",\n      \"lastname\": \"\",\n      \"company\": \"\",\n      \"email\": \"\",\n      \"cc_emails\": null,\n      \"cc_sms\": null,\n      \"phone\": \"\",\n      \"address_1\": \"\",\n      \"address_2\": \"\",\n      \"address_city\": \"\",\n      \"address_state\": \"\",\n      \"address_zip\": \"\",\n      \"address_country\": \"\",\n      \"notes\": null,\n      \"reference\": \"\",\n      \"options\": null,\n      \"created_at\": null,\n      \"updated_at\": null,\n      \"deleted_at\": null,\n      \"allow_invoice_credit_card_payments\": true,\n      \"gravatar\": false\n    }\n  },\n  \"user\": {\n    \"id\": \"2d089742-6aca-462d-8db3-c2966e1f9e68\",\n    \"system_admin\": true,\n    \"name\": \"Morty Junior\",\n    \"email\": \"contact@example.com\",\n    \"email_verification_sent_at\": \"2018-09-26 18:24:21\",\n    \"email_verified_at\": \"2016-05-11 17:13:33\",\n    \"is_api_key\": false,\n    \"acknowledgments\": {\n      \"signedApplication\": true,\n      \"editedOnboardingInformation\": false,\n      \"tutorial\": true,\n      \"godviewWelcome\": true\n    },\n    \"created_at\": \"2016-05-18 14:11:46\",\n    \"updated_at\": \"2018-09-26 18:24:21\",\n    \"deleted_at\": null,\n    \"gravatar\": \"//www.gravatar.com/avatar/772cbf95746d7da86789cc3634c46ba8\",\n    \"team_admin\": null,\n    \"team_enabled\": null,\n    \"team_role\": null,\n    \"merchant_options\": [],\n    \"is_default\": false\n  }\n}"
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 184ef996-de5e-41a8-b139-4ba595426053
                  invoice_id:
                    type: string
                    example: 2230adc8-a755-4a26-95b5-a54a4b8aa0ad
                  reference_id:
                    type: string
                    example: ''
                  recurring_transaction_id:
                    type: string
                    example: ''
                  auth_id: {}
                  type:
                    type: string
                    example: charge
                  source: {}
                  is_merchant_present:
                    type: boolean
                    example: true
                    default: true
                  merchant_id:
                    type: string
                    example: a61d78cc-cde9-44ac-8a18-30c39be05879
                  user_id:
                    type: string
                    example: 2d089742-6aca-462d-8db3-c2966e1f9e68
                  customer_id:
                    type: string
                    example: 0f553deb-5dbd-4dca-9bef-743c4bc2809f
                  payment_method_id:
                    type: string
                    example: giftcard
                  is_manual:
                    type: boolean
                    example: true
                    default: true
                  success:
                    type: boolean
                    example: true
                    default: true
                  message: {}
                  meta:
                    type: object
                    properties:
                      update_inventory:
                        type: boolean
                        example: true
                        default: true
                      taxOverride:
                        type: boolean
                        example: false
                        default: true
                      isBulkInvoice:
                        type: boolean
                        example: false
                        default: true
                      taxRate:
                        type: integer
                        example: 0
                        default: 0
                      tax:
                        type: integer
                        example: 0
                        default: 0
                      subtotal:
                        type: integer
                        example: 55
                        default: 0
                      memo:
                        type: string
                        example: ''
                      lineItems:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: generated-id-0630-32fe-649d-cf6c-e38b
                            item:
                              type: string
                              example: ''
                            details:
                              type: string
                              example: ''
                            quantity:
                              type: integer
                              example: 1
                              default: 0
                            price:
                              type: string
                              example: '55'
                      reference:
                        type: integer
                        example: 1872
                        default: 0
                      check_number: {}
                      driver_license: {}
                      driver_license_state: {}
                      payment_phone: {}
                      payment_note: {}
                  total:
                    type: integer
                    example: 55
                    default: 0
                  method:
                    type: string
                    example: giftcard
                  pre_auth:
                    type: boolean
                    example: false
                    default: true
                  is_captured:
                    type: integer
                    example: 1
                    default: 0
                  last_four: {}
                  interchange_code:
                    type: string
                    example: ''
                  interchange_fee: {}
                  batch_id:
                    type: string
                    example: ''
                  batched_at:
                    type: string
                    example: '2018-10-02 12:30:44'
                  emv_response:
                    type: string
                    example: ''
                  avs_response:
                    type: string
                    example: ''
                  cvv_response:
                    type: string
                    example: ''
                  pos_entry:
                    type: string
                    example: ''
                  pos_salesperson:
                    type: string
                    example: ''
                  receipt_email_at:
                    type: string
                    example: '2018-10-02 16:30:44'
                  receipt_sms_at:
                    type: string
                    example: '2018-10-02 14:53:09'
                  created_at:
                    type: string
                    example: '2018-07-23 18:21:42'
                  updated_at:
                    type: string
                    example: '2018-10-02 16:30:44'
                  total_refunded:
                    type: integer
                    example: 0
                    default: 0
                  is_refundable:
                    type: boolean
                    example: true
                    default: true
                  is_voided:
                    type: boolean
                    example: false
                    default: true
                  is_voidable:
                    type: boolean
                    example: true
                    default: true
                  currency:
                    type: string
                    example: USD
                  schedule_id: {}
                  child_captures:
                    type: array
                  parent_auth: {}
                  customer:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 0f553deb-5dbd-4dca-9bef-743c4bc2809f
                      firstname:
                        type: string
                        example: Elizabeth
                      lastname:
                        type: string
                        example: Jones
                      company:
                        type: string
                        example: Liz's Lemonade
                      email:
                        type: string
                        example: contact@example.com
                      cc_emails: {}
                      cc_sms: {}
                      phone:
                        type: string
                        example: ''
                      address_1:
                        type: string
                        example: ''
                      address_2:
                        type: string
                        example: ''
                      address_city:
                        type: string
                        example: ''
                      address_state:
                        type: string
                        example: ''
                      address_zip:
                        type: string
                        example: ''
                      address_country:
                        type: string
                        example: ''
                      notes:
                        type: string
                        example: ''
                      reference:
                        type: string
                        example: ''
                      options: {}
                      created_at:
                        type: string
                        example: '2016-10-09 11:04:35'
                      updated_at:
                        type: string
                        example: '2018-08-14 13:09:21'
                      deleted_at: {}
                      allow_invoice_credit_card_payments:
                        type: boolean
                        example: true
                        default: true
                      gravatar:
                        type: string
                        example: //www.gravatar.com/avatar/45357c125af15b6df8864a71a653bea2
                  child_transactions:
                    type: array
                  files:
                    type: array
                  payment_method:
                    type: object
                    properties:
                      id:
                        type: string
                        example: giftcard
                      customer_id:
                        type: string
                        example: ''
                      merchant_id:
                        type: string
                        example: ''
                      user_id:
                        type: string
                        example: ''
                      nickname:
                        type: string
                        example: GIFT CARD
                      has_cvv:
                        type: integer
                        example: 0
                        default: 0
                      is_default:
                        type: integer
                        example: 0
                        default: 0
                      method:
                        type: string
                        example: giftcard
                      person_name: {}
                      card_type: {}
                      card_last_four: {}
                      card_exp: {}
                      bank_name: {}
                      bank_type: {}
                      bank_holder_type: {}
                      address_1: {}
                      address_2: {}
                      address_city: {}
                      address_state: {}
                      address_zip: {}
                      address_country: {}
                      purged_at: {}
                      deleted_at: {}
                      created_at:
                        type: string
                        example: '2018-06-05 16:45:43'
                      updated_at:
                        type: string
                        example: '2018-06-05 16:45:43'
                      card_exp_datetime:
                        type: array
                      is_usable_in_vt:
                        type: boolean
                        example: false
                        default: true
                      customer:
                        type: object
                        properties:
                          id:
                            type: string
                            example: ''
                          firstname:
                            type: string
                            example: ''
                          lastname:
                            type: string
                            example: ''
                          company:
                            type: string
                            example: ''
                          email:
                            type: string
                            example: ''
                          cc_emails: {}
                          cc_sms: {}
                          phone:
                            type: string
                            example: ''
                          address_1:
                            type: string
                            example: ''
                          address_2:
                            type: string
                            example: ''
                          address_city:
                            type: string
                            example: ''
                          address_state:
                            type: string
                            example: ''
                          address_zip:
                            type: string
                            example: ''
                          address_country:
                            type: string
                            example: ''
                          notes: {}
                          reference:
                            type: string
                            example: ''
                          options: {}
                          created_at: {}
                          updated_at: {}
                          deleted_at: {}
                          allow_invoice_credit_card_payments:
                            type: boolean
                            example: true
                            default: true
                          gravatar:
                            type: boolean
                            example: false
                            default: true
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 2d089742-6aca-462d-8db3-c2966e1f9e68
                      system_admin:
                        type: boolean
                        example: true
                        default: true
                      name:
                        type: string
                        example: Morty Junior
                      email:
                        type: string
                        example: contact@example.com
                      email_verification_sent_at:
                        type: string
                        example: '2018-09-26 18:24:21'
                      email_verified_at:
                        type: string
                        example: '2016-05-11 17:13:33'
                      is_api_key:
                        type: boolean
                        example: false
                        default: true
                      acknowledgments:
                        type: object
                        properties:
                          signedApplication:
                            type: boolean
                            example: true
                            default: true
                          editedOnboardingInformation:
                            type: boolean
                            example: false
                            default: true
                          tutorial:
                            type: boolean
                            example: true
                            default: true
                          godviewWelcome:
                            type: boolean
                            example: true
                            default: true
                      created_at:
                        type: string
                        example: '2016-05-18 14:11:46'
                      updated_at:
                        type: string
                        example: '2018-09-26 18:24:21'
                      deleted_at: {}
                      gravatar:
                        type: string
                        example: //www.gravatar.com/avatar/772cbf95746d7da86789cc3634c46ba8
                      team_admin: {}
                      team_enabled: {}
                      team_role: {}
                      merchant_options:
                        type: array
                      is_default:
                        type: boolean
                        example: false
                        default: true
        '422':
          description: '422'
          content:
            application/json:
              examples:
                Invalid Email:
                  value: "{\n  \"ccEmails.0\": [\n    \"The ccEmails.0 must be a valid email address.\"\n  ]\n}"
              schema:
                type: object
                properties:
                  ccEmails.0:
                    type: array
                    items:
                      type: string
                      example: The ccEmails.0 must be a valid email address.
      deprecated: false
      tags:
      - Transaction
  /transaction/{id}/related:
    get:
      summary: Get a Related Transaction
      description: Retrieve a child transactions associated with a parent transaction.
      operationId: get-a-related-transaction
      parameters:
      - name: id
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n  {\n    \"id\": \"3872e334-bba1-4bbd-91fc-bb3f48c74b1a\",\n    \"invoice_id\": \"\",\n    \"reference_id\": \"890eda03-0cb5-4c51-813d-8f1959d1a591\",\n    \"recurring_transaction_id\": \"\",\n    \"type\": \"refund\",\n    \"source\": null,\n    \"merchant_id\": \"dd36b936-1eb7-4ece-bebc-b514c6a36ebd\",\n    \"user_id\": \"b58d7eee-e68d-4d12-a1f8-62f5e71382ae\",\n    \"customer_id\": \"50d14fcb-b468-4ac4-afd8-d7c47172dc1c\",\n    \"payment_method_id\": \"23c06bc1-7473-46fb-8d65-b8e9bde1fe75\",\n    \"is_manual\": null,\n    \"success\": true,\n    \"message\": null,\n    \"meta\": {\n      \"tax\": 0,\n      \"subtotal\": 2,\n      \"lineItems\": [\n        {\n          \"id\": \"optional-fm-catalog-item-id\",\n          \"item\": \"Demo Item\",\n          \"details\": \"this is a regular demo item\",\n          \"quantity\": 1,\n          \"price\": 22\n        }\n      ]\n    },\n    \"total\": 22,\n    \"method\": \"card\",\n    \"pre_auth\": false,\n    \"last_four\": \"1111\",\n    \"receipt_email_at\": null,\n    \"receipt_sms_at\": null,\n    \"created_at\": \"2017-03-29 16:15:43\",\n    \"updated_at\": \"2017-03-29 16:15:43\",\n    \"total_refunded\": null,\n    \"is_refundable\": false,\n    \"is_voided\": null,\n    \"is_voidable\": false,\n    \"schedule_id\": null,\n    \"customer\": {\n      \"id\": \"50d14fcb-b468-4ac4-afd8-d7c47172dc1c\",\n      \"firstname\": \"Mario\",\n      \"lastname\": \"Henderson\",\n      \"company\": \"\",\n      \"email\": \"fatttest737@gmail.com\",\n      \"cc_emails\": null,\n      \"phone\": \"5555555555\",\n      \"address_1\": \"123 S ST.\",\n      \"address_2\": \"\",\n      \"address_city\": \"Orlando\",\n      \"address_state\": \"FL\",\n      \"address_zip\": \"3222\",\n      \"address_country\": \"USA\",\n      \"notes\": \"\",\n      \"reference\": \"\",\n      \"options\": \"\",\n      \"created_at\": \"2017-01-30 20:41:23\",\n      \"updated_at\": \"2017-01-30 20:41:23\",\n      \"deleted_at\": null,\n      \"gravatar\": \"//www.gravatar.com/avatar/52b3ef2ae70945ce0fca14086443dc1a\"\n    },\n    \"child_transactions\": [],\n    \"files\": [],\n    \"payment_method\": {\n      \"id\": \"23c06bc1-7473-46fb-8d65-b8e9bde1fe75\",\n      \"customer_id\": \"50d14fcb-b468-4ac4-afd8-d7c47172dc1c\",\n      \"merchant_id\": \"dd36b936-1eb7-4ece-bebc-b514c6a36ebd\",\n      \"user_id\": \"41e60252-4f23-48de-a64f-e5a1e8a9359c\",\n      \"nickname\": \"VISA: Mario Mario (ending in: 1111)\",\n      \"is_default\": 0,\n      \"method\": \"card\",\n      \"person_name\": \"Mario Henderson\",\n      \"card_type\": \"visa\",\n      \"card_last_four\": \"1111\",\n      \"card_exp\": \"022020\",\n      \"bank_name\": null,\n      \"bank_type\": null,\n      \"bank_holder_type\": null,\n      \"address_1\": null,\n      \"address_2\": null,\n      \"address_city\": null,\n      \"address_state\": null,\n      \"address_zip\": null,\n      \"address_country\": \"USA\",\n      \"purged_at\": null,\n      \"deleted_at\": null,\n      \"created_at\": \"2017-01-30 20:48:13\",\n      \"updated_at\": \"2017-01-30 20:48:13\",\n      \"card_exp_datetime\": \"2020-02-29 23:59:59\",\n      \"customer\": {\n        \"id\": \"50d14fcb-b468-4ac4-afd8-d7c47172dc1c\",\n        \"firstname\": \"Mario\",\n        \"lastname\": \"Henderson\",\n        \"company\": \"\",\n        \"email\": \"fatttest737@gmail.com\",\n        \"cc_emails\": null,\n        \"phone\": \"5555555555\",\n        \"address_1\": \"123 S ST.\",\n        \"address_2\": \"\",\n        \"address_city\": \"Orlando\",\n        \"address_state\": \"FL\",\n        \"address_zip\": \"3222\",\n        \"address_country\": \"USA\",\n        \"notes\": \"\",\n        \"reference\": \"\",\n        \"options\": \"\",\n        \"created_at\": \"2017-01-30 20:41:23\",\n        \"updated_at\": \"2017-01-30 20:41:23\",\n        \"deleted_at\": null,\n        \"gravatar\": \"//www.gravatar.com/avatar/52b3ef2ae70945ce0fca14086443dc1a\"\n      }\n    },\n    \"user\": {\n      \"id\": \"b58d7eee-e68d-4d12-a1f8-62f5e71382ae\",\n      \"system_admin\": true,\n      \"name\": \"Demo Mann\",\n      \"email\": \"contact@example.com\",\n      \"email_verification_sent_at\": \"2017-05-15 16:30:23\",\n      \"email_verified_at\": \"2017-03-29 15:27:21\",\n      \"is_api_key\": false,\n      \"created_at\": \"2017-01-11 21:44:02\",\n      \"updated_at\": \"2017-05-15 16:30:23\",\n      \"deleted_at\": null,\n      \"gravatar\": \"//www.gravatar.com/avatar/157965dea7cd2f44e349382d1d791650\",\n      \"team_admin\": null,\n      \"team_enabled\": null,\n      \"team_role\": null,\n      \"merchant_options\": [],\n      \"is_portal\": false\n    }\n  }\n]"
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: 3872e334-bba1-4bbd-91fc-bb3f48c74b1a
                    invoice_id:
                      type: string
                      example: ''
                    reference_id:
                      type: string
                      example: 890eda03-0cb5-4c51-813d-8f1959d1a591
                    recurring_transaction_id:
                      type: string
                      example: ''
                    type:
                      type: string
                      example: refund
                    source: {}
                    merchant_id:
                      type: string
                      example: dd36b936-1eb7-4ece-bebc-b514c6a36ebd
                    user_id:
                      type: string
                      example: b58d7eee-e68d-4d12-a1f8-62f5e71382ae
                    customer_id:
                      type: string
                      example: 50d14fcb-b468-4ac4-afd8-d7c47172dc1c
                    payment_method_id:
                      type: string
                      example: 23c06bc1-7473-46fb-8d65-b8e9bde1fe75
                    is_manual: {}
                    success:
                      type: boolean
                      example: true
                      default: true
                    message: {}
                    meta:
                      type: object
                      properties:
                        tax:
                          type: integer
                          example: 0
                          default: 0
                        subtotal:
                          type: integer
                          example: 2
                          default: 0
                        lineItems:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: optional-fm-catalog-item-id
                              item:
                                type: string
                                example: Demo Item
                              details:
                                type: string
                                example: this is a regular demo item
                              quantity:
                                type: integer
                                example: 1
                                default: 0
                              price:
                                type: integer
                                example: 22
                                default: 0
                    total:
                      type: integer
                      example: 22
                      default: 0
                    method:
                      type: string
                      example: card
                    pre_auth:
                      type: boolean
                      example: false
                      default: true
                    last_four:
                      type: string
                      example: '1111'
                    receipt_email_at: {}
                    receipt_sms_at: {}
                    created_at:
                      type: string
                      example: '2017-03-29 16:15:43'
                    updated_at:
                      type: string
                      example: '2017-03-29 16:15:43'
                    total_refunded: {}
                    is_refundable:
                      type: boolean
                      example: false
                      default: true
                    is_voided: {}
                    is_voidable:
                      type: boolean
                      example: false
                      default: true
                    schedule_id: {}
                    customer:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 50d14fcb-b468-4ac4-afd8-d7c47172dc1c
                        firstname:
                          type: string
                          example: Mario
                        lastname:
                          type: string
                          example: Henderson
                        company:
                          type: string
                          example: ''
                        email:
                          type: string
                          example: fatttest737@gmail.com
                        cc_emails: {}
                        phone:
                          type: string
                          example: '5555555555'
                        address_1:
                          type: string
                          example: 123 S ST.
                        address_2:
                          type: string
                          example: ''
                        address_city:
                          type: string
                          example: Orlando
                        address_state:
                          type: string
                          example: FL
                        address_zip:
                          type: string
                          example: '3222'
                        address_country:
                          type: string
                          example: USA
                        notes:
                          type: string
                          example: ''
                        reference:
                          type: string
                          example: ''
                        options:
                          type: string
                          example: ''
                        created_at:
                          type: string
                          example: '2017-01-30 20:41:23'
                        updated_at:
                          type: string
                          example: '2017-01-30 20:41:23'
                        deleted_at: {}
                        gravatar:
                          type: string
                          example: //www.gravatar.com/avatar/52b3ef2ae70945ce0fca14086443dc1a
                    child_transactions:
                      type: array
                    files:
                      type: array
                    payment_method:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 23c06bc1-7473-46fb-8d65-b8e9bde1fe75
                        customer_id:
                          type: string
                          example: 50d14fcb-b468-4ac4-afd8-d7c47172dc1c
                        merchant_id:
                          type: string
                          example: dd36b936-1eb7-4ece-bebc-b514c6a36ebd
                        user_id:
                          type: string
                          example: 41e60252-4f23-48de-a64f-e5a1e8a9359c
                        nickname:
                          type: string
                          example: 'VISA: Mario Mario (ending in: 1111)'
                        is_default:
                          type: integer
                          example: 0
                          default: 0
                        method:
                          type: string
                          example: card
                        person_name:
                          type: string
                          example: Mario Henderson
                        card_type:
                          type: string
                          example: visa
                        card_last_four:
                          type: string
                          example: '1111'
                        card_exp:
                          type: string
                          example: '022020'
                        bank_name: {}
                        bank_type: {}
                        bank_holder_type: {}
                        address_1: {}
                        address_2: {}
                        address_city: {}
                        address_state: {}
                        address_zip: {}
                        address_country:
                          type: string
                          example: USA
                        purged_at: {}
                        deleted_at: {}
                        created_at:
                          type: string
                          example: '2017-01-30 20:48:13'
                        updated_at:
                          type: string
                          example: '2017-01-30 20:48:13'
                        card_exp_datetime:
                          type: string
                          example: '2020-02-29 23:59:59'
                        customer:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 50d14fcb-b468-4ac4-afd8-d7c47172dc1c
                            firstname:
                              type: string
                              example: Mario
                            lastname:
                              type: string
                              example: Henderson
                            company:
                              type: string
                              example: ''
                            email:
                              type: string
                              example: fatttest737@gmail.com
                            cc_emails: {}
                            phone:
                              type: string
                              example: '5555555555'
                            address_1:
                              type: string
                              example: 123 S ST.
                            address_2:
                              type: string
                              example: ''
                            address_city:
                              type: string
                              example: Orlando
                            address_state:
                              type: string
                              example: FL
                            address_zip:
                              type: string
                              example: '3222'
                            address_country:
                              type: string
                              example: USA
                            notes:
                              type: string
                              example: ''
                            reference:
                              type: string
                              example: ''
                            options:
                              type: string
                              example: ''
                            created_at:
                              type: string
                              example: '2017-01-30 20:41:23'
                            updated_at:
                              type: string
                              example: '2017-01-30 20:41:23'
                            deleted_at: {}
                            gravatar:
                              type: string
                              example: //www.gravatar.com/avatar/52b3ef2ae70945ce0fca14086443dc1a
                    user:
                      type: object
                      properties:
                        id:
                          type: string
                          example: b58d7eee-e68d-4d12-a1f8-62f5e71382ae
                        system_admin:
                          type: boolean
                          example: true
                          default: true
                        name:
                          type: string
                          example: Demo Mann
                        email:
                          type: string
                          example: contact@example.com
                        email_verification_sent_at:
                          type: string
                          example: '2017-05-15 16:30:23'
                        email_verified_at:
                          type: string
                          example: '2017-03-29 15:27:21'
                        is_api_key:
                          type: boolean
                          example: false
                          default: true
                        created_at:
                          type: string
                          example: '2017-01-11 21:44:02'
                        updated_at:
                          type: string
                          example: '2017-05-15 16:30:23'
                        deleted_at: {}
                        gravatar:
                          type: string
                          example: //www.gravatar.com/avatar/157965dea7cd2f44e349382d1d791650
                        team_admin: {}
                        team_enabled: {}
                        team_role: {}
                        merchant_options:
                          type: array
                        is_portal:
                          type: boolean
                          example: false
                          default: true
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Invalid ID:
                  value: "{\n  \"id\": [\n    \"The selected id is invalid.\"\n  ]\n}"
              schema:
                type: object
                properties:
                  id:
                    type: array
                    items:
                      type: string
                      example: The selected id is invalid.
      deprecated: false
      tags:
      - Transaction
  /transaction/{id}/funding:
    get:
      summary: Get a Transaction's Funding Instructions
      description: Fetch the funding instructions provided at the time of the transaction, specifically for transactions involving split funding.
      operationId: get-a-transactions-funding-instructions
      parameters:
      - name: id
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n  {\n    \"id\": \"5d359074-4a39-4952-8e63-c56173807bbf\",\n    \"transaction_id\": \"a72abd1a-ff7c-4b52-aaca-6c565da7904d\",\n    \"invoice_id\": null,\n    \"engine_settlement_id\": null,\n    \"engine_transaction_id\": null,\n    \"account_id\": \"41926685-879c-4240-b5d4-37dd44ee6ed4\",\n    \"amount\": 50,\n    \"memo\": \"example memo\",\n    \"meta\": null,\n    \"created_at\": \"2022-10-27 01:45:06\",\n    \"updated_at\": \"2022-10-27 01:45:06\",\n    \"deleted_at\": null\n  },\n  {\n    \"id\": \"5f1cb9d3-dfb4-474c-9581-6690b8d0065a\",\n    \"transaction_id\": \"a72abd1a-ff7c-4b52-aaca-6c565da7904d\",\n    \"invoice_id\": null,\n    \"engine_settlement_id\": null,\n    \"engine_transaction_id\": null,\n    \"account_id\": \"87fc674f-a7bb-4f02-ad9c-7f6c0cfb9d02\",\n    \"amount\": 20,\n    \"memo\": null,\n    \"meta\": null,\n    \"created_at\": \"2022-10-27 01:45:06\",\n    \"updated_at\": \"2022-10-27 01:45:06\",\n    \"deleted_at\": null\n  },\n  {\n    \"id\": \"86b7f851-d16b-467e-832a-cce6b80c3442\",\n    \"transaction_id\": \"a72abd1a-ff7c-4b52-aaca-6c565da7904d\",\n    \"invoice_id\": null,\n    \"engine_settlement_id\": null,\n    \"engine_transaction_id\": null,\n    \"account_id\": \"7ec0ebb6-36a4-4774-8f0a-f38aa3c5881e\",\n    \"amount\": 30,\n    \"memo\": \"example memo\",\n    \"meta\": null,\n    \"created_at\": \"2022-10-27 01:45:06\",\n    \"updated_at\": \"2022-10-27 01:45:06\",\n    \"deleted_at\": null\n  }\n]"
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: 5d359074-4a39-4952-8e63-c56173807bbf
                    transaction_id:
                      type: string
                      example: a72abd1a-ff7c-4b52-aaca-6c565da7904d
                    invoice_id: {}
                    engine_settlement_id: {}
                    engine_transaction_id: {}
                    account_id:
                      type: string
                      example: 41926685-879c-4240-b5d4-37dd44ee6ed4
                    amount:
                      type: integer
                      example: 50
                      default: 0
                    memo:
                      type: string
                      example: example memo
                    meta: {}
                    created_at:
                      type: string
                      example: '2022-10-27 01:45:06'
                    updated_at:
                      type: string
                      example: '2022-10-27 01:45:06'
                    deleted_at: {}
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Not Found:
                  value: "[\n  \"transaction not found\"\n]"
              schema:
                type: array
                items:
                  type: string
                  example: transaction not found
      tags:
      - Transaction
  /transaction/{id}:
    get:
      summary: Get a Transaction's Information
      description: Retrieve detailed information about a specific transaction using its unique ID. This includes transaction details, payment method used, customer information, and any associated child transactions (e.g., refunds or voids).
      operationId: get-a-transactions-information
      parameters:
      - name: id
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": \"6f49149d-69a1-48e6-bec5-d63eb5816118\",\n  \"invoice_id\": \"\",\n  \"reference_id\": \"\",\n  \"recurring_transaction_id\": \"\",\n  \"type\": \"charge\",\n  \"source\": null,\n  \"merchant_id\": \"dd36b936-1eb7-4ece-bebc-b514c6a36ebd\",\n  \"user_id\": \"41e60252-4f23-48de-a64f-e5a1e8a9359c\",\n  \"customer_id\": \"d45ee88c-8b27-4be8-8d81-77dda1b81826\",\n  \"payment_method_id\": \"129520d1-3844-45fd-a0b1-afb66bcdc74c\",\n  \"is_manual\": null,\n  \"success\": true,\n  \"message\": null,\n  \"meta\": {\n    \"tax\": 0,\n    \"subtotal\": 2,\n    \"lineItems\": [\n      {\n        \"id\": \"optional-fm-catalog-item-id\",\n        \"item\": \"Demo Item\",\n        \"details\": \"this is a regular demo item\",\n        \"quantity\": 1,\n        \"price\": 1\n      }\n    ]\n  },\n  \"total\": 1,\n  \"method\": \"card\",\n  \"pre_auth\": false,\n  \"last_four\": \"1111\",\n  \"receipt_email_at\": null,\n  \"receipt_sms_at\": null,\n  \"created_at\": \"2017-05-17 19:57:08\",\n  \"updated_at\": \"2017-05-17 19:57:08\",\n  \"total_refunded\": null,\n  \"is_refundable\": false,\n  \"is_voided\": false,\n  \"is_voidable\": true,\n  \"currency\": \"USD\",\n  \"schedule_id\": null,\n  \"customer\": {\n    \"id\": \"d45ee88c-8b27-4be8-8d81-77dda1b81826\",\n    \"firstname\": \"John\",\n    \"lastname\": \"Smith\",\n    \"company\": \"ABC INC\",\n    \"email\": \"demo@abc.com\",\n    \"cc_emails\": [\n      \"demo1@abc.com\",\n      \"demo2@abc.com\"\n    ],\n    \"phone\": \"1234567898\",\n    \"address_1\": \"123 Rite Way\",\n    \"address_2\": \"Unit 12\",\n    \"address_city\": \"Orlando\",\n    \"address_state\": \"FL\",\n    \"address_zip\": \"32801\",\n    \"address_country\": \"USA\",\n    \"notes\": null,\n    \"reference\": \"BARTLE\",\n    \"options\": \"\",\n    \"created_at\": \"2017-05-08 19:22:51\",\n    \"updated_at\": \"2017-05-08 19:23:46\",\n    \"deleted_at\": null,\n    \"gravatar\": \"//www.gravatar.com/avatar/fe3e929dd80f1653c3a4b82812660061\"\n  },\n  \"child_transactions\": [],\n  \"files\": [],\n  \"payment_method\": {\n    \"id\": \"129520d1-3844-45fd-a0b1-afb66bcdc74c\",\n    \"customer_id\": \"d45ee88c-8b27-4be8-8d81-77dda1b81826\",\n    \"merchant_id\": \"dd36b936-1eb7-4ece-bebc-b514c6a36ebd\",\n    \"user_id\": \"41e60252-4f23-48de-a64f-e5a1e8a9359c\",\n    \"nickname\": \"VISA: Steven Smith Jr. (ending in: 1111)\",\n    \"is_default\": 1,\n    \"method\": \"card\",\n    \"person_name\": \"Steven Smith Jr.\",\n    \"card_type\": \"visa\",\n    \"card_last_four\": \"1111\",\n    \"card_exp\": \"042019\",\n    \"bank_name\": null,\n    \"bank_type\": null,\n    \"bank_holder_type\": null,\n    \"address_1\": null,\n    \"address_2\": null,\n    \"address_city\": null,\n    \"address_state\": null,\n    \"address_zip\": \"32944\",\n    \"address_country\": \"USA\",\n    \"purged_at\": null,\n    \"deleted_at\": null,\n    \"created_at\": \"2017-05-17 19:56:59\",\n    \"updated_at\": \"2017-05-17 19:56:59\",\n    \"card_exp_datetime\": \"2019-04-30 23:59:59\",\n    \"customer\": {\n      \"id\": \"d45ee88c-8b27-4be8-8d81-77dda1b81826\",\n      \"firstname\": \"John\",\n      \"lastname\": \"Smith\",\n      \"company\": \"ABC INC\",\n      \"email\": \"demo@abc.com\",\n      \"cc_emails\": [\n        \"demo1@abc.com\",\n        \"demo2@abc.com\"\n      ],\n      \"phone\": \"1234567898\",\n      \"address_1\": \"123 Rite Way\",\n      \"address_2\": \"Unit 12\",\n      \"address_city\": \"Orlando\",\n      \"address_state\": \"FL\",\n      \"address_zip\": \"32801\",\n      \"address_country\": \"USA\",\n      \"notes\": null,\n      \"reference\": \"BARTLE\",\n      \"options\": \"\",\n      \"created_at\": \"2017-05-08 19:22:51\",\n      \"updated_at\": \"2017-05-08 19:23:46\",\n      \"deleted_at\": null,\n      \"gravatar\": \"//www.gravatar.com/avatar/fe3e929dd80f1653c3a4b82812660061\"\n    }\n  },\n  \"user\": {\n    \"id\": \"41e60252-4f23-48de-a64f-e5a1e8a9359c\",\n    \"system_admin\": true,\n    \"name\": \"Benji\",\n    \"email\": \"contact@example.com\",\n    \"email_verification_sent_at\": \"2016-12-01 16:18:46\",\n    \"email_verified_at\": \"2016-12-01 16:18:46\",\n    \"is_api_key\": false,\n    \"created_at\": \"2016-12-01 16:18:46\",\n    \"updated_at\": \"2017-01-27 20:10:53\",\n    \"deleted_at\": null,\n    \"gravatar\": \"//www.gravatar.com/avatar/772cbf95746d7da86789cc3634c46ba8\",\n    \"team_admin\": null,\n    \"team_enabled\": null,\n    \"team_role\": null,\n    \"merchant_options\": [],\n    \"is_portal\": false\n  }\n}"
                Payment Link w/ surcharging:
                  summary: Payment Link w/ surcharging
                  value: "{\"id\": \"1f615a4d-23d7-4b84-9400-7a7cf088d39c\",\n  \"invoice_id\": \"9e129e52-44d0-43df-9bcc-e4d5ab20bb38\",\n  \"reference_id\": \"\",\n  \"recurring_transaction_id\": \"\",\n  \"auth_id\": null,\n  \"type\": \"charge\",\n  \"source\": null,\n  \"source_ip\": \"2603:9001:2800:2f83:10b2:8adf:3056:e119\",\n  \"is_merchant_present\": false,\n  \"merchant_id\": \"f2010d6f-dc3c-40bb-bf13-8646c018ba38\",\n  \"user_id\": \"hosted-payments\",\n  \"customer_id\": \"a32bd442-dfe1-4863-8992-513d671e8d9a\",\n  \"payment_method_id\": \"2717e886-8267-464d-b58e-696b7a857b2e\",\n  \"is_manual\": false,\n  \"success\": true,\n  \"message\": null,\n  \"meta\": {\n    \"hosted_custom_fields\": [],\n    \"subtotal\": 42,\n    \"memo\": \"Additional information can be written here.\",\n    \"tax\": 0,\n    \"shippingAmount\": 0\n  },\n  \"total\": 42,\n  \"method\": \"card\",\n  \"pre_auth\": false,\n  \"is_captured\": 0,\n  \"last_four\": \"1111\",\n  \"interchange_code\": \"\",\n  \"interchange_fee\": null,\n  \"batch_id\": \"939560f4\",\n  \"batched_at\": \"2025-05-21 20:36:02\",\n  \"emv_response\": \"\",\n  \"avs_response\": \"\",\n  \"cvv_response\": \"\",\n  \"pos_entry\": \"\",\n  \"pos_salesperson\": \"\",\n  \"receipt_email_at\": \"2025-05-21 20:26:07\",\n  \"receipt_sms_at\": null,\n  \"settled_at\": \"2025-05-21 00:00:00\",\n  \"created_at\": \"2025-05-21 20:26:06\",\n  \"updated_at\": \"2025-05-21 20:26:07\",\n  \"gateway_id\": \"8487aa7e-986d-487c-b573-ff5bd6e2bdd9\",\n  \"issuer_auth_code\": \"35ec9504-3683-11f0-8bda-0a9723caf7a1\",\n  \"channel\": \"website-payment\",\n  \"currency\": null,\n  \"total_refunded\": 0,\n  \"is_cnp_refundable\": true,\n  \"is_refundable\": false,\n  \"is_voided\": false,\n  \"is_voidable\": true,\n  \"schedule_id\": null,\n  \"child_captures\": [],\n  \"parent_auth\": null,\n  \"gateway_name\": \"test\",\n  \"response\": {\n    \"ip\": null,\n    \"email\": null,\n    \"state\": \"succeeded\",\n    \"token\": \"MJTux2LDR5BgwX6fXcFcssu2IdH\",\n    \"amount\": 4200,\n    \"message\": \"Succeeded!\",\n    \"warning\": null,\n    \"AuthCode\": \"35ec9504-3683-11f0-8bda-0a9723caf7a1\",\n    \"api_urls\": [\n      {\n        \"referencing_transaction\": []\n      },\n      {\n        \"failover_transaction\": []\n      }\n    ],\n    \"order_id\": \"9e129e52-44d0-43df-9bcc-e4d5ab20bb38\",\n    \"response\": {\n      \"message\": \"Successful purchase\",\n      \"pending\": false,\n      \"success\": true,\n      \"avs_code\": null,\n      \"cvv_code\": null,\n      \"cancelled\": false,\n      \"created_at\": \"2025-05-21T20:26:06Z\",\n      \"error_code\": null,\n      \"updated_at\": \"2025-05-21T20:26:06Z\",\n      \"avs_message\": null,\n      \"cvv_message\": null,\n      \"error_detail\": null,\n      \"fraud_review\": null,\n      \"result_unknown\": false\n    },\n    \"risk_data\": null,\n    \"succeeded\": true,\n    \"created_at\": \"2025-05-21T20:26:06Z\",\n    \"order_data\": null,\n    \"updated_at\": \"2025-05-21T20:26:06Z\",\n    \"description\": \"\",\n    \"message_key\": \"messages.transaction_succeeded\",\n    \"gateway_type\": \"test\",\n    \"local_amount\": null,\n    \"smart_routed\": false,\n    \"workflow_key\": null,\n    \"currency_code\": \"USD\",\n    \"customer_data\": null,\n    \"gateway_token\": \"1FF2C38TM88FASPCEYREGYE35R\",\n    \"application_id\": null,\n    \"payment_method\": {\n      \"zip\": \"32837\",\n      \"city\": \"Orlando\",\n      \"data\": null,\n      \"test\": true,\n      \"year\": 2029,\n      \"email\": \"rya.karleskint+testaxl21@staxpayments.com\",\n      \"month\": 2,\n      \"state\": \"FL\",\n      \"token\": \"01JVT8CKGY549YGNH8BNWPCV8C\",\n      \"errors\": [],\n      \"number\": \"XXXX-XXXX-XXXX-1111\",\n      \"company\": \"Your Company\",\n      \"country\": \"USA\",\n      \"managed\": false,\n      \"address1\": \"12028 Green Emerald Court\",\n      \"address2\": null,\n      \"metadata\": null,\n      \"card_type\": \"visa\",\n      \"full_name\": \"Rya Karleskint\",\n      \"last_name\": \"Karleskint\",\n      \"created_at\": \"2025-05-21T20:26:04.702Z\",\n      \"first_name\": \"Rya\",\n      \"updated_at\": \"2025-05-21T20:26:05.904Z\",\n      \"fingerprint\": \"4d8d9c44ecc9c357d02a9db8a9a66ec0277f\",\n      \"bin_metadata\": {\n        \"message\": \"BIN Metadata is available only to Advanced Vault enrolled customers and payment methods. Reach out to your account representative for more details.\"\n      },\n      \"callback_url\": null,\n      \"click_to_pay\": false,\n      \"phone_number\": null,\n      \"shipping_zip\": null,\n      \"shipping_city\": null,\n      \"storage_state\": \"retained\",\n      \"shipping_state\": null,\n      \"first_six_digits\": \"411111\",\n      \"last_four_digits\": \"1111\",\n      \"shipping_country\": null,\n      \"shipping_address1\": null,\n      \"shipping_address2\": null,\n      \"verification_value\": \"XXX\",\n      \"payment_method_type\": \"credit_card\",\n      \"shipping_phone_number\": null,\n      \"eligible_for_card_updater\": false,\n      \"issuer_identification_number\": \"41111111\"\n    },\n    \"on_test_gateway\": true,\n    \"attempt_3dsecure\": false,\n    \"shipping_address\": {\n      \"zip\": null,\n      \"city\": null,\n      \"name\": \"Rya Karleskint\",\n      \"state\": null,\n      \"country\": null,\n      \"address1\": null,\n      \"address2\": null,\n      \"phone_number\": null\n    },\n    \"sub_merchant_key\": null,\n    \"transaction_type\": \"Purchase\",\n    \"merchant_metadata\": null,\n    \"retain_on_success\": true,\n    \"gateway_latency_ms\": 20,\n    \"merchant_profile_key\": null,\n    \"payment_method_added\": false,\n    \"protection_parameters\": null,\n    \"gateway_transaction_id\": \"9e129e52-44d0-43df-9bcc-e4d5ab20bb38\",\n    \"gateway_specific_fields\": null,\n    \"merchant_name_descriptor\": \"Test A\",\n    \"stored_credential_initiator\": null,\n    \"merchant_location_descriptor\": \"https
[...]
